body {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
}

h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  /* color: #8F8F8F; */
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 5% 10%;
}

#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}

.title-image {
  position: absolute;
  width: 80%;
  transform: rotate(15deg);
  /* right: 30%; */
}

/* Navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Krona One', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.colored-section {
  /* background-color: #484C7F; */
  background-color: #4DC7C2;
  color: #FFF;
}

.white-section {
  background-color: #FFF;
}
/* Features */
#features {
  padding: 7% 12%;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}
.feature-box {
  margin-left: 2.5%;
  padding: 3%;
}

.icon {
  /* color: #AC8DAF; */
  color: #B2FFFF;
  margin-bottom: 1rem;
}

.icon:hover {
  /* color: #484C7F; */
  color: #4DC7C2;
}

.serv-heading {
  font-size: 3rem;
  font-weight: 600;
}

.services-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

#specials {
  padding: 100px;
}

.specials-column {
  padding: 3% 2%;
}

.special-text {
  font-size: 3rem;
  line-height: 1.5;
}

.about-img {
  border-radius: 5%;
  box-shadow: 10px 10px 5px #888888;
  width: 100%;
  height: 90%;
}

.footer-image {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title .container-fluid {
    text-align: center;
  }

  html .nav-link, #features, #services, #specials, #about, #footer{
    font-size: 24px;
  }

  #title .nav-item {
    text-align: right;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
